{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#000000">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
	<title>Watchub</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>

<body>
	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui container">
			<div class="ui large secondary inverted pointing menu">
				<a class="item" href="/">Home</a>
				<a class="item" href="/contact">Contact</a>
				<a class="item" href="/donate">Donate</a>
				<div class="right menu">
					{{ if eq .User.ID 0 }}
					<a class="ui inverted button item" href="/login">Login</a>
					{{ else }}
					<div class="horizontally fitted item">
						{{ .User.Login }}
						<a class="" href="/logout" title="Logout" style="margin-left: 3px">
							<i class="power icon"></i>
						</a>
					</div>
					{{ end }}
				</div>
			</div>
		</div>

		<div class="ui text container very padded">
			<h1 class="ui inverted header">
				Watchub
			</h1>
			<h4>Be notified of people who followed/unfollowed you and starred/unstarred your repositories</h4>
		</div>
	</div>
	<div class="ui very padded vertical stripe segment">
		<div class="ui text container">
			{{ template "content" . }}
		</div>
	</div>
	<div class="ui vertical stripe">
		<div class="ui text container center aligned">
			<p>
				<small>
					&copy; Watchub 2016-2021, by <a class="ui" href="https://github.com/caarlos0">@caarlos0</a>
					<br />
					Code available on <a href="https://github.com/caarlos0/watchub">GitHub</a>
				</small>
			</p>
		</div>
		<div class="ui text container center aligned">
			<p>
				<a
					href="https://www.digitalocean.com/?refcode=7e8e9efb2f77&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
					<img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg"
						alt="DigitalOcean Referral Badge" width="150px" />
				</a>
			</p>
		</div>
	</div>
	<script defer data-domain="watchub.pw" src="https://plausible.io/js/plausible.js"></script>
</body>

</html>
{{ end }}
